---
sidebar_position: 2
---

# Account verification

You can choose to verify that you are a "real" person, by completing Embloy's account verification. This takes 1-5 minutes and is highly recommended and obligatory for job-providers/employers.

# Verify account

To verify your account, simply subscribe to the Embloy-Free subscription (0.00 EUR/month) [here](https://embloy.com/subscription/new) which requires you to verify yourself using a payment method of your choice.

For normal users who only use the features for applicants, account verification is optional.

# Request account verification

If you want to only accept verified users to apply for your jobs, see how to enable this in the [client token customization documentation](../quicklink/token_customization.md).