---
sidebar_position: 2
---

# Account verification

Upon account creation, all user accounts are first automatically verified and then activated using a signed link sent to the account's email.

:::tip
If your activation link expires, you can request a new one [here](https://embloy.com/activation-token).
:::

You can choose to verify that you are a "real" person by completing Embloy's advanced account verification. This takes 1-5 minutes and is highly recommended and obligatory for job-providers and employers.

# Verify account

To verify your account, simply subscribe to the _Embloy-Free_ subscription (0.00 EUR/month) [here](https://embloy.com/dashboard/billing), which requires you to verify yourself using a payment method of your choice.

For normal users who only use the features for applicants, account verification is optional.

# Request account verification

If you want to only accept verified users to apply for your jobs, see how to enable this in the [client token customization documentation](../quicklink/token_customization.md).